<div class="banner">
		<div class="bg-color">
		<div class="container">
				<div class="row">
						<div class="reg">
							<div class="center">
									<div class="text-border1">
	<h1>Login</h1>
	<div class="for">
	<form>
			
		<p>Username</p><input type="text" size="40px" ng-model="Username"><br>
		<p>Password</p><input type="password" size="40px"  ng-model="Password"><br>
        <button type="button" value="submit" size="60px" ng-click="postdata(Username,Password)">Submit</button>
    </form>
	</div>
	<p>Output Message : {{msg}}</p>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	 